# =============================================================================
# Recommendation Engine API — chatbot integration
# =============================================================================
#
# Single endpoint serves the 3-slot recommender. Stateful: bot can chain
# turns through session_id + previous_request_id + picked_slot to refine.
#
# Pricing in the response is calculated to match SOAP MoveInCostRetrieve to
# the cent (validated 2026-04-29 on LSETUP). The bot can show these as
# customer-facing quotes confidently. At actual booking time, the booking
# flow re-fetches GET /api/reservations/move-in/cost (SOAP) before charging
# — this is the safe pattern even when our calc agrees.
#
# Auth: JWT bearer token in `Authorization: Bearer <token>` header.
#       The token's API key must hold the `recommender` scope (granted on
#       /admin/api-keys → tick the "POST /api/recommendations" checkbox).
#
#       NOTE: `recommender` alone is NOT sufficient for a full chatbot.
#       The bot also needs `reservations:read` + `reservations:write` to
#       complete the booking lifecycle. See docs/api/chatbot_integration.md
#       for the full scope checklist + endpoint × scope matrix.
#
# Outcome reconciliation is automatic: when a reservation reaches
# /api/reservations/move-in via the same chatbot key, the middleware looks
# up the most-recent recommendation served for the (session_id | customer_id |
# unit_id) and stamps the booked_unit_id / booked_plan_id / booked_concession_id
# columns. No bot-side bookkeeping needed.
# =============================================================================

openapi: 3.0.3
info:
  title: ESA Recommendation Engine
  version: 1.0.0
  description: |
    3-slot recommendation engine for unit-level pricing quotes. Designed for
    PandaAI chatbot integration but usable by any client with the `recommender`
    scope.

    **Booking flow integration**
    1. `POST /api/recommendations` → 3 slots with prices
    2. Customer picks → `POST /api/reservations/reserve` (no payment, just hold)
    3. *(later, at move-in)* `GET /api/reservations/move-in/cost` → real SOAP total
    4. `POST /api/reservations/move-in` with `payment_amount = step 3's total`

    The recommender is decoupled from payment authority by design — its
    quotes inform the customer, but `dcPaymentAmount` always comes from
    SOAP at move-in time.

servers:
  - url: https://backend.extraspace.com.sg
    description: Production

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # -------------------------------------------------------------------------
    # Request
    # -------------------------------------------------------------------------
    RecommendationRequest:
      type: object
      required: [duration_months, filters, context]
      properties:
        mode:
          type: string
          enum: [recommendation, availability, quote, compare]
          default: recommendation
          description: |
            `recommendation` — 3-slot envelope (default).
            `quote`          — price one specific unit (filters.unit_id required;
                               filters.concession_id optional → cheapest if absent).
            `availability` / `compare` — return 501 in v1.
        level:
          type: string
          enum: [standard, top_n, single_best, comprehensive]
          default: standard
          description: Only `standard` (3-slot) is implemented in v1.
        duration_months:
          type: integer
          minimum: 1
          maximum: 60
          example: 6
        filters:
          $ref: '#/components/schemas/Filters'
        constraints:
          $ref: '#/components/schemas/Constraints'
        context:
          $ref: '#/components/schemas/Context'

    Filters:
      type: object
      required: [location]
      properties:
        location:
          oneOf:
            - type: string
            - type: array
              items: { type: string }
          example: ["L003"]
          description: |
            Site code(s) to search. Required. Single string or array; server
            normalises to list. Bot must translate "Yishun" / customer NL
            into a site code before calling.
        unit_type:
          oneOf: [{ type: string }, { type: array, items: { type: string } }]
          example: ["W"]
          description: |
            Optional. SOP COM01 unit-type code(s). Empty = no filter. Common
            codes: `W` (Walk-in), `U` (Upper Locker), `M` (Medium), `L`
            (Large), `WN` (Wine), `WNU` (Wine Upper), `MB` (Mailbox), `BZ`
            (BizPlus), `PR` (Parking), `DV` (Drive-up), `SC` (Showcase).
            Full list at GET /discount-plans/api/dim-options.
        climate_type:
          oneOf: [{ type: string }, { type: array, items: { type: string } }]
          example: ["A"]
          description: |
            Optional. SOP climate code(s). `NC` (None), `A` (Air-con),
            `D` (Dehumidified), `AD` (Air-con + Dehu), `RF` (Refrigerated /
            wine).
        size_range:
          oneOf: [{ type: string }, { type: array, items: { type: string } }]
          example: ["30-35"]
          description: |
            Optional. SOP size bucket(s) like "0-6", "6-8", "30-35", "100-130".
            Full list at GET /discount-plans/api/dim-options.
        unit_shape:
          oneOf: [{ type: string }, { type: array, items: { type: string } }]
          description: Optional. SOP shape codes (`SS`, `WR`, `NR`, ...).
        pillar:
          oneOf: [{ type: string }, { type: array, items: { type: string } }]
          description: Optional. SOP pillar codes (`P` / `NP`).
        case_count_min:
          type: integer
          description: Optional. Wine units only — minimum case capacity.
        case_count_max:
          type: integer
          description: Optional. Wine units only — maximum case capacity.
        coupon_code:
          type: string
          example: "MOVING2026"
          description: |
            Optional. Required ONLY when the customer presents a hidden-rate
            promo code. Without a matching code, hidden_rate plans are
            silently dropped from the pool. Server upper-cases for matching.
        unit_id:
          oneOf:
            - type: integer
            - type: array
              items: { type: integer }
          description: |
            **mode=quote only.** SiteLink UnitID(s) to price. Ignored on
            mode=recommendation.
        concession_id:
          type: integer
          description: |
            **mode=quote only.** Lock the quote to a specific concession.
            When omitted, the recommender picks the cheapest concession
            available for the unit.

    Constraints:
      type: object
      properties:
        max_distance_km:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
          description: |
            Slot 2 (Nearest Available) won't reach beyond this radius.
            Override per-request; otherwise uses the global setting on
            /recommendation-engine.
        include_legacy:
          type: boolean
          default: true
          description: |
            Include units whose sTypeName failed SOP parsing but were
            rescued via inventory_type_mappings. Set `false` to be strict.
        exclude_unit_ids:
          type: array
          items: { type: integer }
          description: |
            Server fills this automatically from prior turns in the same
            session. Bot rarely needs to set it directly.

    Context:
      type: object
      required: [request_id]
      properties:
        request_id:
          type: string
          example: "uuid-v4"
          description: |
            Bot's correlation id for THIS turn. Must be unique per call.
            Server logs it; bot can later reference via `previous_request_id`.
        session_id:
          type: string
          description: |
            Conversation anchor. Same value across multiple turns of one
            convo. Server auto-generates if missing on the first turn.
        customer_id:
          type: string
          example: "pandai_xyz_123"
          description: |
            PandaAI's stable customer identifier. Captured for future
            personalization (per-customer ranking based on past picks /
            bookings). v1 just logs; no behaviour change yet.
        channel:
          type: string
          enum: [chatbot, web, api, admin]
          default: chatbot
          description: |
            Calling channel. Plans whose `distribution_channel` doesn't
            include this value are dropped. Empty plan distribution_channel
            = open to all channels.
        previous_request_id:
          type: string
          description: |
            For multi-turn flows: the request_id of the prior turn. When set,
            server fetches that turn's filters as the BASE (current filters
            override per-key) and excludes already-served unit_ids.
        picked_slot:
          type: integer
          enum: [1, 2, 3]
          description: |
            Which slot the customer accepted on the prior turn. Drives the
            relax strategy:
              1 → "more best-matches" (size_plus_one, then expand_unit_type)
              2 → "more nearby"       (next_nearest_site)
              3 → "more cheap options"(wider_size_band)
        action:
          type: string
          enum: [more_like_this, different_options]
          description: |
            Pairs with picked_slot. `more_like_this` keeps the same slot's
            relax strategy. `different_options` just dedups already-served
            unit_ids without expanding filters.
        move_in_date:
          type: string
          format: date
          description: |
            ISO date for the lease start. Defaults to today. Drives
            proration math in the pricing breakdown.

    # -------------------------------------------------------------------------
    # Response
    # -------------------------------------------------------------------------
    RecommendationResponse:
      type: object
      properties:
        mode: { type: string, example: recommendation }
        level: { type: string, example: standard }
        request_id: { type: string }
        served_at: { type: string, format: date-time }
        ttl_seconds:
          type: integer
          example: 60
          description: |
            Bot can cache and re-show this response for up to N seconds
            without re-calling. After TTL the prices may have shifted
            (e.g. a unit was rented).
        stats:
          type: object
          properties:
            candidates_pool_size: { type: integer }
            total_matches_before_slotting: { type: integer }
            filter_applied:
              type: array
              items: { type: string }
              description: |
                Names of server-side filters that fired on this request,
                e.g. ["hidden_rate_suppressed"].
            relax_strategy_used:
              type: string
              description: |
                Which relax strategy ran on this turn (none /
                size_plus_one / wider_size_band / next_nearest_site /
                expand_unit_type / different_options).
            excluded_unit_ids_count:
              type: integer
              description: |
                How many already-served unit_ids the server skipped on
                this turn. Lets the bot say "I excluded the 3 units I
                showed you earlier".
            size_relaxed_to:
              type: array
              nullable: true
              items: { type: string }
              description: |
                When the relax strategy expanded the size_range filter,
                this lists the buckets the search ran against. Null
                otherwise.
            pool_rescue_step:
              type: string
              nullable: true
              description: |
                When the strict filter yielded 0 candidates, the recommender
                progressively relaxed dims (unit_type → climate_type →
                size_range ±2 → drop size_range) until it found stock.
                This field lists the relaxations that were applied
                (comma-separated). Null when no rescue was needed.
            saturation_signal:
              type: boolean
              description: |
                True when the response was built off a rescued pool —
                signals high demand at the customer's preferred site/spec.
                Bot UI can phrase "your preferred option is in high demand,
                here's what we found".
        slots:
          type: array
          minItems: 1
          maxItems: 3
          description: |
            For mode=recommendation: always exactly 3 entries (Best Match /
            Nearest Available / Best Price). Any role can be `null` when no
            qualifying inventory was found.
            For mode=quote: a single entry sized to filters.unit_id.
          items:
            oneOf:
              - $ref: '#/components/schemas/Slot'
              - type: 'null'
        next_turn:
          type: object
          description: |
            Continuity tokens for the bot's next call. Pass `previous_request_id`
            on the next /api/recommendations call to chain the conversation
            (server fetches prior filters + excludes already-served units).
          properties:
            previous_request_id: { type: string }
            session_id: { type: string }
            supported_actions:
              type: array
              items:
                type: string
                enum:
                  - more_like_this
                  - different_options
                  - different_size
                  - different_site
        pricing_note:
          type: string
          description: |
            Reminder that the price is a calculator quote. Always re-fetch
            GET /api/reservations/move-in/cost at booking time to get the
            SOAP-truth `dcPaymentAmount` before charging.
        reserve_template:
          type: object
          description: |
            Hint for what to POST to /api/reservations/reserve when the
            customer accepts a slot. Reduces bot integration surface.
          properties:
            endpoint: { type: string, example: "POST /api/reservations/reserve" }
            required:
              type: array
              items: { type: string }
            recommended:
              type: array
              items: { type: string }
        tracking_id:
          type: integer
          description: |
            mw_recommendations_served row id. Bot may pass this to support
            tools later for debugging, but it's not required for outcome
            reconciliation (the booking flow handles that automatically).

    Slot:
      type: object
      properties:
        slot:
          type: integer
          enum: [1, 2, 3]
        label:
          type: string
          enum: ["Best Match", "Nearest Available", "Best Price"]
        unit_id:
          type: integer
          description: SiteLink UnitID. Use this in /api/reservations/reserve.
        facility:
          type: string
          example: "L003"
        unit_type: { type: string, nullable: true, example: "W" }
        climate_type: { type: string, nullable: true, example: "A" }
        size_range: { type: string, nullable: true, example: "30-35" }
        size_sqft:
          type: number
          nullable: true
          description: Actual sqft from dcWidth × dcLength when available.
        size_sqft_actual:
          type: number
          nullable: true
          description: Back-compat alias of `size_sqft`. Will be removed in v2.
        match_flags:
          type: object
          description: |
            Per-slot annotations explaining how the slot was resolved when
            the recommender had to relax or expand the strict request.
            Empty object when the slot was an exact, in-radius match.
          properties:
            alternative_strategy:
              type: string
              nullable: true
              enum: [same_site_2nd, neighbour_close, neighbour_far]
              description: |
                Slot 2 only. Tells the bot how this alternative was chosen:
                  same_site_2nd  — second-cheapest at the same site as Slot 1
                  neighbour_close — nearest other site within max_distance_km
                  neighbour_far   — within 1.5× radius (see travel_warning)
            distance_km:
              type: number
              nullable: true
              description: |
                Slot 2 only. Driving distance to the alternative site;
                null when alternative_strategy = "same_site_2nd".
            travel_warning:
              type: boolean
              nullable: true
              description: |
                Slot 2 only. True when the alternative is in the 1.0–1.5×
                radius band; the bot should disclose the distance.
            relaxed_dims:
              type: array
              nullable: true
              items: { type: string }
              description: |
                Set on slots whose pool was rescued via dimension relaxation
                (unit_type / climate_type / size_range / size_range_expanded)
                or chosen by Slot 3's progressive widening. Lists every
                dimension the recommender dropped or expanded to find this unit.
        plan_id:
          type: integer
          description: |
            mw_discount_plans.id. Pass to /api/reservations/move-in as
            optional `plan_id` so booked_plan_id is populated cleanly.
        plan_name: { type: string }
        concession_id:
          type: integer
          description: |
            ccws_discount.ConcessionID. **Required** in
            /api/reservations/reserve and /move-in. Use 0 when slot is
            standard rate (concession_id=0 in the response).
        concession_name:
          type: string
          nullable: true
          description: |
            Human-readable concession label (sPlanName from ccws_discount,
            e.g. "Moving Season 2026"). Null for standard-rate rows.
        discount_summary:
          type: string
          nullable: true
          description: |
            One-line, customer-facing summary of the discount, e.g.
            "5% off first month", "$50 off first 3 months (max $150)",
            "Pay 11, get 12 — free month". Null when there's no discount.
        headlines:
          type: object
          description: |
            Top-level numbers for natural-language rendering. Saves the
            bot from iterating breakdown[0] for the common questions.
          properties:
            first_month_rent: { type: number, nullable: true }
            first_month_discount: { type: number, nullable: true }
            first_month_insurance: { type: number, nullable: true }
            first_month_tax: { type: number, nullable: true }
            deposit_amount: { type: number, nullable: true }
            admin_fee_amount: { type: number, nullable: true }
            monthly_after_promo:
              type: number
              nullable: true
              description: |
                The recurring monthly cost once the discount window expires
                (rent + insurance + tax). Null when the lease has only one
                billing month or every month carries a discount.
        terms:
          type: object
          description: Lock-in / payment / validity metadata for the plan.
          properties:
            lock_in_months:
              type: integer
              nullable: true
              description: Integer months parsed from lock_in_period.
            lock_in_period:
              type: string
              nullable: true
              description: Raw string fallback (e.g. "12 months").
            payment_terms:
              type: string
              nullable: true
            min_duration_months: { type: integer, nullable: true }
            max_duration_months: { type: integer, nullable: true }
            promo_valid_until:
              type: string
              format: date
              nullable: true
              description: |
                Earliest of plan period_end / promo_period_end /
                booking_period_end. null = no expiry on file.
            # ── Phase 4 Part 2 — perpetual + prepay flags ────────────
            discount_perpetual:
              type: boolean
              description: |
                When TRUE the discount applies to every month of the
                lease (not just SiteLink iInMonth). The recommender's
                breakdown reflects this in `pricing.breakdown[].discount`
                across all rows.
            prepayment_months:
              type: integer
              nullable: true
              description: |
                Months of rent the customer prepays at move-in for
                perpetual plans. Null = no prepay required. When set,
                `pricing.total_due_at_movein` = move-in cost + (N-1) ×
                discounted recurring total.
            post_prepay_uplift_pct:
              type: number
              nullable: true
              description: |
                ECRI uplift percentage applied at the end of the prepay
                window (or +12 mo for perpetual plans without a prepay
                window). Plan-level override of the global
                `ecri_default_pct` (default 5.0). Null = use the global.
        customer_disclosure:
          type: object
          nullable: true
          description: |
            Customer-facing prose for plans with non-trivial financial
            terms (perpetual + prepay especially). Bot reads `fine_print`
            verbatim to the customer to disclose what they are committing
            to. `fine_print_template` provides the raw fields for bots
            that want to localize / restyle the wording.
          properties:
            fine_print:
              type: array
              items: { type: string }
              description: |
                English sentences ready to read to the customer. Order
                is meaningful — first line is the headline ("Pay $X
                today to lock $Y for N months"), follow-ups disclose
                the post-prepay rate and the no-penalty exit.
            fine_print_template:
              type: object
              properties:
                amount:      { type: number }
                lock_rate:   { type: number }
                lock_months: { type: integer }
                from_date:   { type: string, format: date }
                new_rate:    { type: number }
                uplift_pct:  { type: number }
        insurance:
          type: object
          nullable: true
          description: |
            Coverage picker payload. `selected` is what the quote was
            calculated against (cheapest available premium). `options` is
            the full list so the bot can offer a higher coverage tier.
            `min_required` is null for v1 (Phase 4.B.d will sync from SOAP).
          properties:
            selected:
              type: object
              nullable: true
              properties:
                id: { type: integer }
                coverage_amount: { type: number }
                premium: { type: number }
            options:
              type: array
              items:
                type: object
                properties:
                  id: { type: integer }
                  coverage_amount: { type: number }
                  premium: { type: number }
            min_required:
              type: number
              nullable: true
        std_rate:
          type: number
          description: Pre-discount monthly rent.
        effective_rate:
          type: number
          description: |
            Internal sort metric (std_rate − naive concession). Don't show
            to customers; use `pricing.first_month_total` instead.
        price:
          type: number
          description: |
            Customer-facing first-month total ( = pricing.first_month_total).
            What the bot should advertise.
        is_hidden_rate:
          type: boolean
          description: |
            true = plan was unlocked via the matching coupon_code. Bot can
            show 🔒 indicator if relevant.
        authorised_channels:
          type: array
          nullable: true
          items: { type: string }
          description: |
            Channels the plan is authorised for, e.g. ["Chatbot", "Web"].
            null = open to all channels.
        smart_lock:
          type: object
          nullable: true
          properties:
            keypad_ids:
              type: array
              items: { type: string }
            padlock_id: { type: string }
          description: |
            Smart-lock device assignments for this unit. Useful for
            instant-access bookings. null when no device assigned.
        discount_window_months:
          type: integer
          nullable: true
          description: |
            From SiteLink concession iInMonth. 1 = first-month-only
            discount (most common). N = first N months. Helps bot explain
            "you save X this month, then full rate from month 2".
        pricing:
          $ref: '#/components/schemas/Pricing'

    Pricing:
      type: object
      properties:
        first_month_total: { type: number, example: 285.00 }
        monthly_average: { type: number }
        total_contract: { type: number }
        duration_months: { type: integer }
        # ── Phase 4 Part 2 — perpetual + prepay quote fields ─────────
        # Always present in the response. For non-perpetual plans they
        # equal first_month_total / null / null. For perpetual + prepay
        # they describe the prepayment, the locked rate during the
        # window, and the auto-scheduled rate change at the end.
        total_due_at_movein:
          type: number
          description: |
            What the bot must charge the customer + pass as `payment_amount`
            on `/api/reservations/move-in`. For non-perpetual plans this
            equals `first_month_total`. For perpetual + prepay plans this
            equals first-month cost + (prepayment_months − 1) × discounted
            recurring total — i.e. the customer prepays the full window
            up front. The middleware splits this into SOAP MoveIn portion
            + PaymentSimpleCash surplus internally.
        rate_during_prepay:
          type: number
          nullable: true
          description: |
            Locked monthly rent during the prepayment window. Only
            populated for perpetual + prepay plans.
        rate_after_prepay:
          type: number
          nullable: true
          description: |
            Monthly rent after the prepay window ends. Computed as
            `rate_during_prepay × (1 + post_prepay_uplift_pct/100)` where
            the uplift pct is the plan-level override or the global
            `ecri_default_pct` setting (5% by default). The middleware
            schedules this rate change via SOAP at move-in time so the
            customer's billing transitions automatically.
        rate_change_date:
          type: string
          format: date
          nullable: true
          description: |
            Date when `rate_after_prepay` takes effect = move-in date
            + `terms.prepayment_months`. Null on plans without a prepay
            window.
        confidence:
          type: string
          enum: [high, low_unsupported_concession]
          description: |
            `high` = calculator matches SOAP exactly. `low_*` = calculator's
            best-effort guess for an edge case (free-month or multi-month-
            prepay concession). Bot should warn / suppress these unless
            admin enables drop_low_confidence_quotes globally.
        confidence_reason:
          type: string
          nullable: true
          enum:
            - free_month_plan
            - late_move_in_with_discount
            - prepaid_multi_month
            - unknown_discount_structure
        breakdown:
          type: array
          description: One MonthlyBreakdown per month of the lease.
          items:
            type: object
            properties:
              month_index: { type: integer }
              billing_date: { type: string, format: date }
              rent: { type: number }
              rent_proration_factor:
                type: number
                description: 1.0 = full month; <1 = LSETUP-style partial.
              discount: { type: number }
              insurance: { type: number }
              deposit: { type: number, description: 0 except possibly month 1 }
              admin_fee: { type: number, description: 0 except month 1 }
              rent_tax: { type: number }
              insurance_tax: { type: number }
              total: { type: number, description: Net charge for the month }

paths:
  /api/recommendations:
    post:
      summary: Get a 3-slot recommendation
      description: |
        Returns Best Match (slot 1), Nearest Available (slot 2), Best Price
        (slot 3) for the requested unit shape. Each slot is fully quoted
        with month-by-month breakdown matching SOAP MoveInCostRetrieve to
        the cent.

        **Hidden-rate plans** require a matching `filters.coupon_code` in
        the request — otherwise dropped silently.

        **Channel gating**: each plan's `distribution_channel` (CSV in
        admin) must include `context.channel` for the plan to be eligible.
      tags: [Recommendations]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationRequest'
            examples:
              fresh_chatbot_call:
                summary: First turn — bot translates customer NL into SOP filters
                value:
                  mode: recommendation
                  level: standard
                  duration_months: 6
                  filters:
                    location: ["L003"]
                    unit_type: ["W"]
                    climate_type: ["A"]
                    size_range: ["30-35"]
                  constraints:
                    max_distance_km: 30
                  context:
                    channel: chatbot
                    request_id: "550e8400-e29b-41d4-a716-446655440000"
                    customer_id: "pandai_xyz_123"
              follow_up_more_like_slot1:
                summary: Customer wants more options like slot 1
                value:
                  mode: recommendation
                  level: standard
                  duration_months: 6
                  filters:
                    location: ["L003"]
                  context:
                    channel: chatbot
                    request_id: "660e8400-e29b-41d4-a716-446655440001"
                    session_id: "session-abc"
                    previous_request_id: "550e8400-e29b-41d4-a716-446655440000"
                    picked_slot: 1
                    action: more_like_this
              hidden_rate_with_coupon:
                summary: Customer presents a promo code
                value:
                  mode: recommendation
                  level: standard
                  duration_months: 12
                  filters:
                    location: ["L017"]
                    coupon_code: "MOVING2026"
                  context:
                    channel: chatbot
                    request_id: "770e8400-e29b-41d4-a716-446655440002"
      responses:
        '200':
          description: 3-slot envelope (slots may be null individually)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationResponse'
              example:
                mode: recommendation
                level: standard
                request_id: "550e8400-e29b-41d4-a716-446655440000"
                served_at: "2026-04-29T08:30:00.000Z"
                ttl_seconds: 60
                stats:
                  candidates_pool_size: 47
                  distinct_sites_in_pool: 1
                  distinct_plans_in_pool: 2
                  filter_applied:
                    location: ["L003"]
                    unit_type: ["W"]
                slots:
                  - slot: 1
                    label: Best Match
                    unit_id: 79215
                    facility: L003
                    unit_type: W
                    climate_type: A
                    size_range: 30-35
                    plan_id: 10
                    plan_name: "Moving Season"
                    concession_id: 11878
                    std_rate: 149.0
                    effective_rate: 104.30
                    price: 298.66
                    is_hidden_rate: false
                    authorised_channels: [Offline, Web, "Mobile App", Chatbot, Walk-In]
                    smart_lock: null
                    discount_window_months: 1
                    pricing:
                      first_month_total: 298.66
                      monthly_average: 187.84
                      total_contract: 1127.06
                      duration_months: 6
                      confidence: high
                      confidence_reason: null
                      breakdown:
                        - month_index: 1
                          billing_date: "2026-04-29"
                          rent: 149.0
                          rent_proration_factor: 1.0
                          discount: -44.70
                          insurance: 3.0
                          deposit: 149.0
                          admin_fee: 30.0
                          rent_tax: 9.39
                          insurance_tax: 0.27
                          total: 298.66
                        - month_index: 2
                          billing_date: "2026-05-29"
                          rent: 149.0
                          rent_proration_factor: 1.0
                          discount: 0
                          insurance: 3.0
                          deposit: 0
                          admin_fee: 0
                          rent_tax: 13.41
                          insurance_tax: 0.24
                          total: 165.65
                  - null
                  - null
                tracking_id: 8472
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
              examples:
                missing_location:
                  value: { error: "filters.location is required" }
                bad_channel:
                  value: { error: "context.channel must be one of [chatbot, web, api, admin]" }
        '401':
          description: Auth missing or invalid JWT
        '403':
          description: |
            JWT valid but lacks `recommender` scope. Admin: tick the box on
            /admin/api-keys for the chatbot's key.
        '409':
          description: Duplicate request_id
        '429':
          description: Rate-limited (120 req/min per key)
        '501':
          description: |
            mode/level not implemented. v1 ships only `mode=recommendation,
            level=standard`. Body includes `supported` list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  mode: { type: string }
                  level: { type: string }
                  supported: { type: array, items: { type: string } }
        '500':
          description: Internal error — request_id is echoed back so support can find logs

# =============================================================================
# Conversational flow examples (for bot integrators)
# =============================================================================
#
# Turn 1 — fresh request:
#   bot generates request_id, optionally session_id (else server fills)
#   POST { filters, context: { request_id, session_id?, customer_id? }}
#   ← { slots: [s1, s2, s3], session_id, tracking_id }
#   bot stores session_id locally
#
# Turn 2 — customer wants more like slot 1:
#   POST { filters, context: {
#       request_id: <new uuid>,
#       session_id: <same as turn 1>,
#       previous_request_id: <turn 1's request_id>,
#       picked_slot: 1,
#       action: more_like_this } }
#   ← { slots: [next 3 not-yet-shown], excludes prior unit_ids automatically }
#
# Turn 3 — customer accepts a slot, books:
#   POST /api/reservations/reserve with the slot's
#       { unit_id, concession_id, customer_data }
#       (optionally include session_id, customer_id, plan_id for tighter
#        outcome attribution — but the system reconciles even without)
#   ← reservation created, no payment, no concession applied yet
#
# Turn 4 — at actual move-in:
#   GET /api/reservations/move-in/cost?... → SOAP-derived total
#   POST /api/reservations/move-in { waiting_id, payment_amount = SOAP total }
#   ← lease created, payment captured
#
# Outcome auto-reconciles: middleware finds the most recent
# mw_recommendations_served row for this session/customer/unit, updates
# booked_unit_id / booked_plan_id / booked_concession_id / booked_slot.
# Bot doesn't have to call any "mark booked" endpoint.
# =============================================================================
