openapi: 3.0.3

info:
  title: ESA Backend — Reservations API
  description: >
    SOAP-backed reservation management endpoints for StorageMaker/SMD CallCenterWs.
    All routes are under the `reservations` Flask blueprint with URL prefix `/api/reservations`.

    **Authentication**: Bearer JWT in the `Authorization` header.

    **Rate limiting** is applied per API key per sliding window; limits vary by endpoint.

    **SOAP backend**: Mutation and read operations proxy to the SMD CallCenterWs SOAP
    service (`CallCenterWs.asmx`). The `site_code` parameter is validated against the
    `site_info` table in the `esa_pbi` database before every SOAP call.

    **Tracking endpoints** (`/track`, `/track/event`, `/track/batch`) do NOT call SOAP —
    they write directly to the `api_reservations` table in `esa_pbi` for distribution
    analytics and lifecycle tracking.

  version: "2.0.0"
  contact:
    name: ESA Backend

servers:
  - url: https://app.extraspaceasia.com.sg
    description: Production (Azure VM)

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        HS256-signed JWT issued by `POST /api/auth/token`. Include as
        `Authorization: Bearer <token>`.

  schemas:

    # -------------------------------------------------------------------------
    # Shared / reusable
    # -------------------------------------------------------------------------

    SiteCode:
      type: string
      description: >
        StorageMaker location code. Validated against the `site_info` table in
        the `esa_pbi` database before any SOAP call is made.
      example: "LSETUP"

    RetResult:
      type: object
      description: SOAP operation return code and message, passed through as-is.
      properties:
        ret_code:
          type: string
          nullable: true
          description: Return code from the SOAP operation (e.g. "0" for success).
          example: "0"
        message:
          type: string
          description: Human-readable return message from SOAP.
          example: "Reservation created successfully"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: "site_code is required"

    SoapErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: "SOAP API error"

    # -------------------------------------------------------------------------
    # Request bodies
    # -------------------------------------------------------------------------

    ReserveUnitRequest:
      type: object
      required:
        - site_code
        - unit_id
        - first_name
        - last_name
        - phone
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        unit_id:
          type: integer
          description: StorageMaker unit ID to reserve.
          example: 10042
        first_name:
          type: string
          description: Tenant first name.
          maxLength: 100
          example: "John"
        last_name:
          type: string
          description: Tenant last name.
          maxLength: 100
          example: "Smith"
        phone:
          type: string
          description: Contact phone number.
          maxLength: 20
          example: "+6591234567"
        email:
          type: string
          format: email
          description: Contact email address (optional).
          maxLength: 100
          example: "john.smith@example.com"
        mobile:
          type: string
          description: Mobile phone (defaults to phone if omitted).
          maxLength: 20
          example: "+6591234567"
        address:
          type: string
          description: Street address.
          maxLength: 200
          example: "123 Orchard Road"
        city:
          type: string
          description: City.
          maxLength: 100
          example: "Singapore"
        postal_code:
          type: string
          description: Postal code.
          maxLength: 20
          example: "238858"
        country:
          type: string
          description: Country code (e.g. "SG").
          maxLength: 10
          example: "SG"
        comment:
          type: string
          description: Reservation comment (optional).
          maxLength: 500
          example: "Needs ground-floor access"
        quoted_rate:
          type: number
          format: float
          description: Monthly rate quoted to the prospective tenant.
          default: 0
          example: 280.00
        needed_date:
          type: string
          format: date
          description: Desired move-in date (YYYY-MM-DD). Defaults to tomorrow (UTC).
          example: "2026-03-17"
        source_name:
          type: string
          description: Human-readable source label passed to SOAP.
          maxLength: 64
          default: "ESA Backend"
          example: "Website"
        concession_id:
          type: integer
          description: Discount/concession plan ID to apply.
          default: 0
          example: 0
        source:
          type: string
          description: Distribution source tag for analytics tracking.
          maxLength: 50
          default: "api"
          example: "google_ads"
        gclid:
          type: string
          description: Google Click ID for marketing attribution.
          maxLength: 255
          example: "CjwKCAjw..."
        gid:
          type: string
          description: Google Analytics ID for tracking.
          maxLength: 255
          example: "GA1.2.123456789.1234567890"
        botid:
          type: string
          description: Bot/chat identifier for tracking.
          maxLength: 255
          example: "chatbot-v2"

    CreateReservationRequest:
      type: object
      required:
        - site_code
        - unit_id
        - tenant_id
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        unit_id:
          type: integer
          description: StorageMaker unit ID to reserve.
          example: 10042
        tenant_id:
          type: integer
          description: Existing tenant ID (required).
          example: 12345
        needed_date:
          type: string
          format: date
          description: Desired move-in date (YYYY-MM-DD). Defaults to tomorrow (UTC).
          example: "2026-03-17"
        expires_date:
          type: string
          format: date
          description: >
            Date the reservation expires if not converted (YYYY-MM-DD).
            Defaults to today + 14 days (UTC).
          example: "2026-03-30"
        followup_date:
          type: string
          format: date
          description: >
            Date for the next follow-up call (YYYY-MM-DD).
            Defaults to today + 3 days (UTC).
          example: "2026-03-19"
        quoted_rate:
          type: number
          format: float
          description: Monthly rate quoted to the prospective tenant.
          default: 0
          example: 280.00
        comment:
          type: string
          description: Free-text comment for the reservation.
          maxLength: 500
          default: ""
          example: "Walk-in from website enquiry"
        source_name:
          type: string
          description: Human-readable source label passed to SOAP.
          maxLength: 64
          default: "ESA Backend"
          example: "Website"
        concession_id:
          type: integer
          description: Discount/concession plan ID to apply.
          default: 0
          example: 0
        source:
          type: string
          description: Distribution source tag for analytics tracking.
          maxLength: 50
          default: "api"
          example: "google_ads"
        gclid:
          type: string
          description: Google Click ID for marketing attribution.
          maxLength: 255
        gid:
          type: string
          description: Google Analytics ID for tracking.
          maxLength: 255
        botid:
          type: string
          description: Bot/chat identifier for tracking.
          maxLength: 255

    UpdateReservationRequest:
      type: object
      required:
        - site_code
        - unit_id
        - needed_date
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        unit_id:
          type: integer
          description: Unit ID associated with the reservation.
          example: 10042
        tenant_id:
          type: string
          description: Tenant ID. Use "0" for walk-in.
          default: "0"
          example: "12345"
        needed_date:
          type: string
          format: date
          description: Desired move-in date (YYYY-MM-DD).
          example: "2026-03-20"
        comment:
          type: string
          description: Updated comment text.
          default: ""
          example: "Customer called to confirm"
        status:
          type: integer
          description: Reservation status code (0 = active, 2 = cancelled in SMD).
          default: 0
          example: 0
        followup:
          type: boolean
          description: Whether to schedule a follow-up call.
          default: false
          example: true
        followup_date:
          type: string
          format: date
          description: Date for follow-up (YYYY-MM-DD).
          default: ""
          example: "2026-03-21"
        followup_last_date:
          type: string
          format: date
          description: Date of the most recent follow-up contact.
          default: ""
          example: "2026-03-16"
        inquiry_type:
          type: integer
          description: Inquiry channel type code.
          default: 0
          example: 1
        quoted_rate:
          type: number
          format: float
          description: Updated quoted monthly rate.
          default: 0
          example: 265.00
        expires_date:
          type: string
          format: date
          description: Updated expiry date for the reservation.
          default: ""
          example: "2026-04-02"
        rental_type_id:
          type: integer
          description: SOAP `QTRentalTypeID`.
          default: 0
          example: 0
        cancellation_type_id:
          type: integer
          description: SOAP `QTCancellationTypeID` — cancellation category.
          default: 0
          example: 0
        cancellation_reason:
          type: string
          description: Free-text cancellation reason.
          default: ""
          example: ""
        concession_id:
          type: integer
          description: Discount/concession plan ID.
          default: 0
          example: 0

    CancelReservationRequest:
      type: object
      required:
        - site_code
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        cancellation_reason:
          type: string
          description: Free-text reason for cancellation.
          default: ""
          example: "Tenant found alternative storage"
        cancellation_type_id:
          type: integer
          description: SOAP `QTCancellationTypeID` — optional cancellation category code.
          default: 0
          example: 1

    AddNoteRequest:
      type: object
      required:
        - site_code
        - note
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        note:
          type: string
          description: Note text to attach to the reservation.
          example: "Customer confirmed move-in for the 20th"

    TrackReservationRequest:
      type: object
      required:
        - site_code
        - unit_id
        - waiting_id
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        unit_id:
          type: integer
          description: StorageMaker unit ID.
          example: 10042
        waiting_id:
          type: integer
          description: SMD WaitingID from SOAP reservation.
          example: 8821
        event_type:
          type: string
          enum: [reservation, move_in]
          description: >
            Type of event. `reservation` sets status to `created`;
            `move_in` sets status to `moved_in` and records `moved_in_at`.
          default: "reservation"
          example: "reservation"
        global_waiting_num:
          type: integer
          description: Global waiting number from SMD.
          example: 12345
        tenant_id:
          type: integer
          description: SMD tenant ID (optional).
          example: 67890
        quoted_rate:
          type: number
          format: float
          description: Quoted monthly rate.
          default: 0
          example: 280.00
        concession_id:
          type: integer
          description: Discount/concession plan ID.
          default: 0
          example: 0
        needed_date:
          type: string
          format: date
          description: Desired move-in date (YYYY-MM-DD).
          example: "2026-03-17"
        first_name:
          type: string
          maxLength: 100
          example: "John"
        last_name:
          type: string
          maxLength: 100
          example: "Smith"
        email:
          type: string
          maxLength: 100
          example: "john@example.com"
        phone:
          type: string
          maxLength: 20
          example: "+6591234567"
        mobile:
          type: string
          maxLength: 20
        source_name:
          type: string
          maxLength: 64
          default: "ESA Backend"
        comment:
          type: string
          maxLength: 500
        source:
          type: string
          description: Distribution source tag.
          maxLength: 50
          default: "api"
        gclid:
          type: string
          description: Google Click ID.
          maxLength: 255
        gid:
          type: string
          description: Google Analytics ID.
          maxLength: 255
        botid:
          type: string
          description: Bot/chat identifier.
          maxLength: 255

    TrackEventRequest:
      type: object
      required:
        - site_code
        - waiting_id
        - event_type
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        waiting_id:
          type: integer
          description: SMD WaitingID of the tracked reservation.
          example: 8821
        event_type:
          type: string
          enum: [move_in, cancellation, expiry]
          description: >
            Lifecycle event type. Updates status and sets the corresponding
            timestamp column (`moved_in_at`, `cancelled_at`, or `expired_at`).
          example: "move_in"
        comment:
          type: string
          description: Event notes (appended to existing comment with ` | ` separator).
          maxLength: 500
          example: "Confirmed move-in completed"

    TrackBatchRequest:
      type: object
      required:
        - records
      properties:
        records:
          type: array
          maxItems: 100
          description: >
            Array of reservation tracking records (max 100). Each record follows
            the same schema as `POST /api/reservations/track`.
          items:
            $ref: "#/components/schemas/TrackReservationRequest"

    # -------------------------------------------------------------------------
    # Response bodies
    # -------------------------------------------------------------------------

    ReserveUnitResponse:
      type: object
      required: [success, site_code, unit_id, message]
      properties:
        success:
          type: boolean
          example: true
        site_code:
          $ref: "#/components/schemas/SiteCode"
        unit_id:
          type: integer
          example: 10042
        tenant_id:
          type: string
          nullable: true
          description: TenantID created by TenantNewDetailed_v3.
          example: "67890"
        waiting_id:
          type: string
          nullable: true
          description: >
            WaitingID returned by ReservationNewWithSource_v6 (from `Ret_Code`
            field in SOAP response). Null if SOAP did not return one.
          example: "8821"
        global_waiting_num:
          type: string
          nullable: true
          description: Global waiting number (from `Ret_Msg` field in SOAP response).
          example: "12345"
        message:
          type: string
          example: "Reservation created"

    CreateReservationResponse:
      type: object
      required: [success, site_code, unit_id, message]
      properties:
        success:
          type: boolean
          example: true
        site_code:
          $ref: "#/components/schemas/SiteCode"
        unit_id:
          type: integer
          example: 10042
        tenant_id:
          type: integer
          description: The tenant_id provided in the request.
          example: 12345
        waiting_id:
          type: string
          nullable: true
          description: >
            WaitingID returned by ReservationNewWithSource_v6 (from `Ret_Code`
            field in SOAP response). Null if SOAP did not return one.
          example: "8821"
        global_waiting_num:
          type: string
          nullable: true
          description: Global waiting number (from `Ret_Msg` field in SOAP response).
          example: "12345"
        message:
          type: string
          example: "Reservation created"

    UpdateReservationResponse:
      type: object
      required: [success, waiting_id]
      properties:
        success:
          type: boolean
          example: true
        waiting_id:
          type: integer
          example: 8821
        ret_code:
          type: string
          nullable: true
          description: Return code from ReservationUpdate_v4 SOAP response.
          example: "0"
        message:
          type: string
          description: Return message from SOAP, or "Reservation updated" if null.
          example: "Reservation updated"

    CancelReservationResponse:
      type: object
      required: [success, waiting_id]
      properties:
        success:
          type: boolean
          example: true
        waiting_id:
          type: integer
          example: 8821
        ret_code:
          type: string
          nullable: true
          description: Return code from ReservationUpdate_v4 SOAP response.
          example: "0"
        message:
          type: string
          description: Return message from SOAP, or "Reservation cancelled" if null.
          example: "Reservation cancelled"

    ReservationRecord:
      type: object
      description: >
        A single reservation record as returned by the SMD `ReservationList_v3` SOAP
        operation. Field names are the raw SMD column names; exact set depends on the
        SMD version configured on each site.
      additionalProperties: true
      example:
        WaitingID: "8821"
        TenantID: "0"
        UnitID: "10042"
        dNeeded: "2026-03-20"
        dExpires: "2026-03-30"
        dcQuotedRate: "280.00"
        iStatus: "0"
        sComment: "Walk-in from website"

    ReservationListResponse:
      type: object
      required: [site_code, reservations, count]
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        reservations:
          type: array
          items:
            $ref: "#/components/schemas/ReservationRecord"
        count:
          type: integer
          example: 3

    ReservationGetResponse:
      type: object
      required: [site_code, reservation]
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        reservation:
          $ref: "#/components/schemas/ReservationRecord"

    NoteRecord:
      type: object
      description: >
        A single note record as returned by the SMD `ReservationNotesRetrieve`
        SOAP operation. Field names are raw SMD column names.
      additionalProperties: true
      example:
        NoteID: "4412"
        WaitingID: "8821"
        sNote: "Customer confirmed move-in for the 20th"
        dNoteDate: "2026-03-16"

    NotesListResponse:
      type: object
      required: [waiting_id, notes, count]
      properties:
        waiting_id:
          type: integer
          example: 8821
        notes:
          type: array
          items:
            $ref: "#/components/schemas/NoteRecord"
        count:
          type: integer
          example: 2

    AddNoteResponse:
      type: object
      required: [success, waiting_id]
      properties:
        success:
          type: boolean
          example: true
        waiting_id:
          type: integer
          example: 8821
        ret_code:
          type: string
          nullable: true
          description: Return code from ReservationNoteInsert SOAP response.
          example: "0"
        message:
          type: string
          description: Return message from SOAP, or "Note added" if null.
          example: "Note added"

    FeeRecord:
      type: object
      description: >
        A single fee configuration record as returned by `ReservationFeeRetrieve`.
        Field names are raw SMD column names.
      additionalProperties: true
      example:
        FeeTypeID: "1"
        FeeName: "Reservation Fee"
        FeeAmount: "50.00"
        bRefundable: "true"

    FeesResponse:
      type: object
      required: [site_code, fees]
      properties:
        site_code:
          $ref: "#/components/schemas/SiteCode"
        fees:
          type: array
          items:
            $ref: "#/components/schemas/FeeRecord"

    TrackResponse:
      type: object
      required: [success, id, event_type]
      properties:
        success:
          type: boolean
          example: true
        id:
          type: integer
          description: Database record ID from api_reservations table.
          example: 42
        event_type:
          type: string
          example: "reservation"

    TrackEventResponse:
      type: object
      required: [success, waiting_id, status]
      properties:
        success:
          type: boolean
          example: true
        waiting_id:
          type: integer
          example: 8821
        status:
          type: string
          description: Updated status value.
          example: "moved_in"
        moved_in_at:
          type: string
          format: date-time
          nullable: true
          description: Present when event_type is move_in.
        cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Present when event_type is cancellation.
        expired_at:
          type: string
          format: date-time
          nullable: true
          description: Present when event_type is expiry.

    TrackBatchResponse:
      type: object
      required: [success, processed, inserted, updated, errors]
      properties:
        success:
          type: boolean
          example: true
        processed:
          type: integer
          description: Total records successfully processed (inserted + updated).
          example: 8
        inserted:
          type: integer
          description: Number of new records inserted.
          example: 5
        updated:
          type: integer
          description: Number of existing records updated (upsert conflict).
          example: 3
        errors:
          type: array
          description: Per-record errors with array index and message.
          items:
            type: object
            properties:
              index:
                type: integer
              error:
                type: string
          example:
            - index: 2
              error: "site_code is required"

    UnitAvailabilityReservationsResponse:
      type: object
      required: [reservations, count]
      properties:
        reservations:
          type: object
          description: >
            Map of `site_code:unit_id` → reservation details. Only includes
            reservations with status `created` (active).
          additionalProperties:
            type: object
            properties:
              waiting_id:
                type: integer
              tenant_id:
                type: integer
              first_name:
                type: string
              last_name:
                type: string
              quoted_rate:
                type: number
              needed_date:
                type: string
                format: date
                nullable: true
              expires_date:
                type: string
                format: date
                nullable: true
              status:
                type: string
              source:
                type: string
              source_name:
                type: string
              reserved_at:
                type: string
                format: date-time
                nullable: true
              soap_synced_at:
                type: string
                format: date-time
                nullable: true
              followup_date:
                type: string
                format: date
                nullable: true
              inquiry_type:
                type: integer
              rental_type_id:
                type: integer
              paid_reserve_fee:
                type: number
              reserve_fee_receipt_id:
                type: integer
              concession_id:
                type: integer
          example:
            "LSETUP:10042":
              waiting_id: 8821
              tenant_id: 0
              first_name: "John"
              last_name: "Smith"
              quoted_rate: 280.00
              needed_date: "2026-03-20"
              status: "created"
              source_name: "Website"
        count:
          type: integer
          example: 1
        last_synced:
          type: string
          format: date-time
          nullable: true
          description: Most recent soap_synced_at across returned records.

  responses:
    400BadRequest:
      description: Missing or invalid request parameter.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    401Unauthorized:
      description: Missing, expired, or invalid JWT.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "Unauthorized"

    403Forbidden:
      description: JWT is valid but does not carry the required scope.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "Insufficient scope"

    404NotFound:
      description: The requested reservation does not exist for the given site.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "Reservation not found"

    429TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "Rate limit exceeded"

    500InternalError:
      description: Unexpected internal server error or SOAP configuration unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    502SoapError:
      description: The upstream SMD SOAP service returned a fault.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SoapErrorResponse"


# =============================================================================
# Paths
# =============================================================================

paths:

  # ---------------------------------------------------------------------------
  # POST /api/reservations/reserve
  # ---------------------------------------------------------------------------
  /api/reservations/reserve:
    post:
      summary: Reserve unit (TenantNewDetailed_v3 + ReservationNewWithSource_v6)
      operationId: reservationReserve
      description: >
        Full reserve flow: creates a new tenant via `TenantNewDetailed_v3`, then
        creates a reservation via `ReservationNewWithSource_v6`. Used by the
        unit availability tool's walk-in reservation modal.

        Also records the reservation in the `api_reservations` tracking table for
        distribution analytics (source, gclid, gid, botid).

        **SOAP operations**: `TenantNewDetailed_v3`, then `ReservationNewWithSource_v6`

        **Audit event**: `RESERVATION_CREATED`

        **Rate limit**: 10 requests per 60 seconds per API key.

        **Required scope**: `reservations:write`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReserveUnitRequest"
            example:
              site_code: "LSETUP"
              unit_id: 10042
              first_name: "John"
              last_name: "Smith"
              phone: "+6591234567"
              email: "john.smith@example.com"
              comment: "Needs ground-floor access"
              quoted_rate: 280.00
              concession_id: 0
      responses:
        "200":
          description: >
            Reservation submitted. The `waiting_id` contains the SMD-assigned
            WaitingID (returned as `Ret_Code` from the SOAP response).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReserveUnitResponse"
              example:
                success: true
                site_code: "LSETUP"
                unit_id: 10042
                tenant_id: "67890"
                waiting_id: "8821"
                global_waiting_num: "12345"
                message: "Reservation created"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # POST /api/reservations/create
  # ---------------------------------------------------------------------------
  /api/reservations/create:
    post:
      summary: Create reservation for existing tenant (ReservationNewWithSource_v6)
      operationId: reservationCreate
      description: >
        Creates a new reservation via `ReservationNewWithSource_v6` for an
        existing tenant. Does NOT create a tenant — requires a valid `tenant_id`.
        Also records in the `api_reservations` tracking table.

        Date fields default when omitted:
        - `needed_date` → UTC today + 1 day
        - `expires_date` → UTC today + 14 days
        - `followup_date` → UTC today + 3 days

        **SOAP operation**: `ReservationNewWithSource_v6`

        **Audit event**: `RESERVATION_CREATED`

        **Rate limit**: 10 requests per 60 seconds per API key.

        **Required scope**: `reservations:write`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReservationRequest"
            example:
              site_code: "LSETUP"
              unit_id: 10042
              tenant_id: 12345
              needed_date: "2026-03-17"
              quoted_rate: 280.00
              comment: "Website enquiry"
              source_name: "Website"
              concession_id: 0
      responses:
        "200":
          description: >
            Reservation created. The `waiting_id` field contains the SMD-assigned
            WaitingID. Check `ret_code` for SOAP-level status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateReservationResponse"
              example:
                success: true
                site_code: "LSETUP"
                unit_id: 10042
                tenant_id: 12345
                waiting_id: "8821"
                global_waiting_num: "12345"
                message: "Reservation created"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # GET /api/reservations/list
  # ---------------------------------------------------------------------------
  /api/reservations/list:
    get:
      summary: List reservations for a site (ReservationList_v3)
      operationId: reservationList
      description: >
        Returns all active reservations for a site, or filters by `waiting_id`
        or `global_waiting_num` when provided. Both filter parameters default
        to 0, which the SMD API treats as "return all".

        **SOAP operation**: `ReservationList_v3`

        **Rate limit**: 30 requests per 60 seconds per API key.

        **Required scope**: `reservations:read`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      parameters:
        - name: site_code
          in: query
          required: true
          description: StorageMaker location code.
          schema:
            $ref: "#/components/schemas/SiteCode"
        - name: waiting_id
          in: query
          required: false
          description: >
            Filter results to a specific reservation WaitingID. Pass 0 (default)
            to return all reservations for the site.
          schema:
            type: integer
            default: 0
          example: 0
        - name: global_waiting_num
          in: query
          required: false
          description: >
            Filter by global waiting number (`iGlobalWaitingNum` in SMD). Pass 0
            (default) to return all.
          schema:
            type: integer
            default: 0
          example: 0
      responses:
        "200":
          description: List of reservations (may be empty).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationListResponse"
              example:
                site_code: "LSETUP"
                reservations:
                  - WaitingID: "8821"
                    TenantID: "0"
                    UnitID: "10042"
                    dNeeded: "2026-03-20"
                    dExpires: "2026-03-30"
                    dcQuotedRate: "280.00"
                    iStatus: "0"
                count: 1
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # GET /api/reservations/{waiting_id}
  # ---------------------------------------------------------------------------
  /api/reservations/{waiting_id}:
    get:
      summary: Get a single reservation (ReservationList_v3)
      operationId: reservationGet
      description: >
        Retrieves a single reservation by its `waiting_id`. Internally calls
        `ReservationList_v3` with the specific WaitingID and returns the first
        result. Returns 404 if SOAP returns no records.

        **SOAP operation**: `ReservationList_v3`

        **Rate limit**: 30 requests per 60 seconds per API key.

        **Required scope**: `reservations:read`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      parameters:
        - name: waiting_id
          in: path
          required: true
          description: The SMD WaitingID of the reservation.
          schema:
            type: integer
          example: 8821
        - name: site_code
          in: query
          required: true
          description: StorageMaker location code.
          schema:
            $ref: "#/components/schemas/SiteCode"
      responses:
        "200":
          description: The reservation record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationGetResponse"
              example:
                site_code: "LSETUP"
                reservation:
                  WaitingID: "8821"
                  TenantID: "0"
                  UnitID: "10042"
                  dNeeded: "2026-03-20"
                  dExpires: "2026-03-30"
                  dcQuotedRate: "280.00"
                  iStatus: "0"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

    put:
      summary: Update a reservation (ReservationUpdate_v4)
      operationId: reservationUpdate
      description: >
        Updates an existing reservation via `ReservationUpdate_v4`. All mutable
        SMD reservation fields can be changed in a single call. To cancel,
        use the dedicated `PUT /api/reservations/{waiting_id}/cancel` endpoint
        instead.

        **SOAP operation**: `ReservationUpdate_v4`

        **Audit event**: `RESERVATION_UPDATED`

        **Rate limit**: 10 requests per 60 seconds per API key.

        **Required scope**: `reservations:write`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      parameters:
        - name: waiting_id
          in: path
          required: true
          description: The SMD WaitingID of the reservation to update.
          schema:
            type: integer
          example: 8821
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateReservationRequest"
            example:
              site_code: "LSETUP"
              unit_id: 10042
              needed_date: "2026-03-20"
              comment: "Customer called to confirm"
              followup: true
              followup_date: "2026-03-21"
              quoted_rate: 265.00
      responses:
        "200":
          description: Reservation updated. Check `ret_code` for SOAP-level status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateReservationResponse"
              example:
                success: true
                waiting_id: 8821
                ret_code: "0"
                message: "Reservation updated"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # PUT /api/reservations/{waiting_id}/cancel
  # ---------------------------------------------------------------------------
  /api/reservations/{waiting_id}/cancel:
    put:
      summary: Cancel a reservation
      operationId: reservationCancel
      description: >
        Cancels a reservation by setting its SMD status to 2 (cancelled).
        Internally performs two SOAP calls:
        1. `ReservationList_v3` — fetches the current reservation to preserve
           existing field values.
        2. `ReservationUpdate_v4` — re-submits the record with `iStatus=2` and
           the supplied cancellation reason.

        Returns 404 if the reservation is not found in the first SOAP call.

        **SOAP operations**: `ReservationList_v3`, then `ReservationUpdate_v4`

        **Audit event**: `RESERVATION_CANCELLED`

        **Rate limit**: 10 requests per 60 seconds per API key.

        **Required scope**: `reservations:write`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      parameters:
        - name: waiting_id
          in: path
          required: true
          description: The SMD WaitingID of the reservation to cancel.
          schema:
            type: integer
          example: 8821
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelReservationRequest"
            example:
              site_code: "LSETUP"
              cancellation_reason: "Tenant found alternative storage"
              cancellation_type_id: 1
      responses:
        "200":
          description: Reservation cancelled. Check `ret_code` for SOAP-level status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelReservationResponse"
              example:
                success: true
                waiting_id: 8821
                ret_code: "0"
                message: "Reservation cancelled"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # GET /api/reservations/{waiting_id}/notes
  # POST /api/reservations/{waiting_id}/notes
  # ---------------------------------------------------------------------------
  /api/reservations/{waiting_id}/notes:
    get:
      summary: Get notes for a reservation (ReservationNotesRetrieve)
      operationId: reservationNotesGet
      description: >
        Returns all notes attached to a reservation from the SMD
        `ReservationNotesRetrieve` SOAP operation. Returns an empty array if
        no notes exist.

        **SOAP operation**: `ReservationNotesRetrieve`

        **Rate limit**: 30 requests per 60 seconds per API key.

        **Required scope**: `reservations:read`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      parameters:
        - name: waiting_id
          in: path
          required: true
          description: The SMD WaitingID of the reservation.
          schema:
            type: integer
          example: 8821
        - name: site_code
          in: query
          required: true
          description: StorageMaker location code.
          schema:
            $ref: "#/components/schemas/SiteCode"
      responses:
        "200":
          description: List of notes (may be empty).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesListResponse"
              example:
                waiting_id: 8821
                notes:
                  - NoteID: "4412"
                    WaitingID: "8821"
                    sNote: "Customer confirmed move-in for the 20th"
                    dNoteDate: "2026-03-16"
                count: 1
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

    post:
      summary: Add a note to a reservation (ReservationNoteInsert)
      operationId: reservationNotesAdd
      description: >
        Inserts a new note against a reservation via the SMD
        `ReservationNoteInsert` SOAP operation.

        **SOAP operation**: `ReservationNoteInsert`

        **Rate limit**: 20 requests per 60 seconds per API key.

        **Required scope**: `reservations:write`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      parameters:
        - name: waiting_id
          in: path
          required: true
          description: The SMD WaitingID of the reservation.
          schema:
            type: integer
          example: 8821
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddNoteRequest"
            example:
              site_code: "LSETUP"
              note: "Customer confirmed move-in for the 20th"
      responses:
        "200":
          description: Note inserted. Check `ret_code` for SOAP-level status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddNoteResponse"
              example:
                success: true
                waiting_id: 8821
                ret_code: "0"
                message: "Note added"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # GET /api/reservations/fees
  # ---------------------------------------------------------------------------
  /api/reservations/fees:
    get:
      summary: Get reservation fee configuration (ReservationFeeRetrieve)
      operationId: reservationFeeRetrieve
      description: >
        Returns the reservation fee configuration for a site from the SMD
        `ReservationFeeRetrieve` SOAP operation. Fees are site-specific and
        may include refundable and non-refundable entries.

        **SOAP operation**: `ReservationFeeRetrieve`

        **Rate limit**: 30 requests per 60 seconds per API key.

        **Required scope**: `reservations:read`
      tags:
        - SOAP Reservations
      security:
        - BearerAuth: []
      parameters:
        - name: site_code
          in: query
          required: true
          description: StorageMaker location code.
          schema:
            $ref: "#/components/schemas/SiteCode"
      responses:
        "200":
          description: Fee configuration for the site (may be empty array if none configured).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeesResponse"
              example:
                site_code: "LSETUP"
                fees:
                  - FeeTypeID: "1"
                    FeeName: "Reservation Fee"
                    FeeAmount: "50.00"
                    bRefundable: "true"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # POST /api/reservations/track
  # ---------------------------------------------------------------------------
  /api/reservations/track:
    post:
      summary: Track external reservation/move-in record
      operationId: reservationTrack
      description: >
        Push an external reservation or move-in record into the `api_reservations`
        tracking table. **No SOAP call** — data goes directly to the database.

        Supports idempotent upsert on the `(site_code, waiting_id)` unique constraint.
        On conflict, existing fields are updated with the new values, except
        `tenant_id`, `global_waiting_num`, `gclid`, `gid`, and `botid` which use
        COALESCE to preserve existing non-null values.

        Use this endpoint to import reservations from external sources (Google Forms,
        chatbots, CRM, etc.) for distribution analytics and lifecycle tracking.

        **Database table**: `api_reservations` (esa_pbi)

        **Audit event**: `RESERVATION_TRACKED`

        **Rate limit**: 30 requests per 60 seconds per API key.

        **Required scope**: `reservations:track`
      tags:
        - Reservation Tracking
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackReservationRequest"
            example:
              site_code: "LSETUP"
              unit_id: 10042
              waiting_id: 8821
              event_type: "reservation"
              first_name: "John"
              last_name: "Smith"
              phone: "+6591234567"
              source: "google_ads"
              gclid: "CjwKCAjw..."
      responses:
        "200":
          description: Record tracked successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackResponse"
              example:
                success: true
                id: 42
                event_type: "reservation"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"

  # ---------------------------------------------------------------------------
  # PUT /api/reservations/track/event
  # ---------------------------------------------------------------------------
  /api/reservations/track/event:
    put:
      summary: Push lifecycle event on tracked reservation
      operationId: reservationTrackEvent
      description: >
        Update the status of a tracked reservation with a lifecycle event.
        **No SOAP call** — updates the `api_reservations` table directly.

        Event type mapping:
        - `move_in` → status=`moved_in`, sets `moved_in_at=NOW()`
        - `cancellation` → status=`cancelled`, sets `cancelled_at=NOW()`
        - `expiry` → status=`expired`, sets `expired_at=NOW()`

        If `comment` is provided, it is appended to the existing comment with
        a ` | ` separator.

        Returns 404 if no matching `(site_code, waiting_id)` record exists.

        **Database table**: `api_reservations` (esa_pbi)

        **Audit event**: `RESERVATION_EVENT`

        **Rate limit**: 30 requests per 60 seconds per API key.

        **Required scope**: `reservations:track`
      tags:
        - Reservation Tracking
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackEventRequest"
            example:
              site_code: "LSETUP"
              waiting_id: 8821
              event_type: "move_in"
              comment: "Confirmed move-in completed"
      responses:
        "200":
          description: Event recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackEventResponse"
              example:
                success: true
                waiting_id: 8821
                status: "moved_in"
                moved_in_at: "2026-03-20T08:30:00"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"

  # ---------------------------------------------------------------------------
  # POST /api/reservations/track/batch
  # ---------------------------------------------------------------------------
  /api/reservations/track/batch:
    post:
      summary: Bulk import tracked reservations
      operationId: reservationTrackBatch
      description: >
        Batch import external reservation records (max 100 per request).
        Each record uses the same schema and upsert logic as
        `POST /api/reservations/track`.

        Records are processed individually — a failure in one record does not
        abort the entire batch. Failed records are reported in the `errors` array
        with their array index and error message.

        **Database table**: `api_reservations` (esa_pbi)

        **Audit event**: `RESERVATION_BATCH_TRACKED`

        **Rate limit**: 5 requests per 60 seconds per API key.

        **Required scope**: `reservations:track`
      tags:
        - Reservation Tracking
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackBatchRequest"
            example:
              records:
                - site_code: "LSETUP"
                  unit_id: 10042
                  waiting_id: 8821
                  event_type: "reservation"
                  first_name: "John"
                  last_name: "Smith"
                - site_code: "LSETUP"
                  unit_id: 10043
                  waiting_id: 8822
                  event_type: "move_in"
                  first_name: "Jane"
                  last_name: "Doe"
      responses:
        "200":
          description: Batch processed (check `errors` for per-record failures).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackBatchResponse"
              example:
                success: true
                processed: 2
                inserted: 1
                updated: 1
                errors: []
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"

  # ---------------------------------------------------------------------------
  # GET /api/reservations/move-in/cost
  # ---------------------------------------------------------------------------
  /api/reservations/move-in/cost:
    get:
      summary: Get move-in cost breakdown
      operationId: moveInCost
      description: >
        Returns the move-in cost breakdown for a unit via SOAP MoveInCostRetrieve
        variants. Returns multiple charge rows (rent, admin fee, deposit, etc.).
        Sum `total` across all rows for the exact payment amount required by
        the move-in endpoints.

        **Variants** (selected via `variant` query parameter):
        - `standard` (default) — `MoveInCostRetrieveWithDiscount_v4`
        - `28day` — `MoveInCostRetrieveWithDiscount_28DayBilling_v3` (28-day billing)
        - `reservation` — `MoveInCostRetrieveWithDiscount_Reservation_v4` (requires `waiting_id`)
        - `push_rate` — `MoveInCostRetrieveWithPushRate_v2` (simplest, fewest params)

        **Rate limit**: 30 requests per 60 seconds per API key.

        **Required scope**: `reservations:read`
      tags:
        - Move-In
      security:
        - BearerAuth: []
      parameters:
        - name: site_code
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/SiteCode"
        - name: unit_id
          in: query
          required: true
          schema:
            type: integer
          example: 106020
        - name: move_in_date
          in: query
          required: false
          description: Move-in date (YYYY-MM-DD). Defaults to tomorrow.
          schema:
            type: string
            format: date
          example: "2026-04-10"
        - name: concession_id
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: insurance_id
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: variant
          in: query
          required: false
          description: >
            Cost calculation variant. `standard` (default), `28day`,
            `reservation` (requires waiting_id), or `push_rate`.
          schema:
            type: string
            enum: [standard, 28day, reservation, push_rate]
            default: standard
        - name: waiting_id
          in: query
          required: false
          description: Reservation WaitingID (required when variant=reservation).
          schema:
            type: integer
        - name: promo_id
          in: query
          required: false
          description: Promo global number (for variant=reservation).
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Cost breakdown with per-charge totals.
          content:
            application/json:
              example:
                site_code: "LSETUP"
                unit_id: 106020
                variant: "standard"
                operation: "MoveInCostRetrieveWithDiscount_v4"
                unit_name: "1003"
                unit_type: "XL/110-130/DV/NC/SS/NP"
                push_rate: 640.0
                tenant_rate: 640.0
                web_rate: 640.0
                discount: 0.0
                concession_id: -999
                charges:
                  - description: "First Monthly Rent Fee"
                    amount: 448.0
                    tax: 40.32
                    total: 488.32
                    required: true
                  - description: "Administrative Fee"
                    amount: 30.0
                    tax: 2.7
                    total: 32.7
                    required: true
                  - description: "Security Deposit"
                    amount: 640.0
                    tax: 0.0
                    total: 640.0
                    required: true
                total: 1161.02
                move_in_date: "2026-04-10"
                currency_decimals: 2
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # POST /api/reservations/move-in
  # ---------------------------------------------------------------------------
  /api/reservations/move-in:
    post:
      summary: Move-in from reservation (MoveInReservation_v6)
      operationId: moveInReservation
      description: >
        Converts a reservation into a move-in via `MoveInReservation_v6`.
        Payment amount must match the exact total from
        `GET /api/reservations/move-in/cost`.


        **CC bypass**: Set `pay_method=2` (cash) to bypass credit card validation.


        **SOAP operation**: `MoveInReservation_v6` (sync) +
        `PaymentSimpleCash` (perpetual + prepay only) +
        `ScheduleTenantRateChange_v2` (when `ecri_auto_schedule_enabled`)
        as async follow-ups.


        **Audit event**: `MOVE_IN_COMPLETED`


        **Rate limit**: 5 requests per 60 seconds per API key.


        **Required scope**: `reservations:write`


        **Idempotency**: Pass header `Idempotency-Key: <opaque-string>` to make
        retries safe. Within 24h, replays of the same key return the cached
        response with `idempotent_replay: true` instead of re-firing SOAP.
        Bot **should** use this for every booking attempt.


        **Sanity guard**: Returns `400` if `payment_amount` is more than $0.50
        below the SOAP-truth move-in cost — prevents half-funded leases from
        bot bugs or stale quotes. Use `GET /api/reservations/move-in/cost` to
        get the authoritative number.


        **Perpetual + prepay orchestration**: When the booked concession is
        tied to a plan flagged `discount_perpetual=true` with
        `prepayment_months > 0`, the handler internally splits the payment
        into the SOAP MoveIn portion + a `PaymentSimpleCash` push for the
        prepay surplus, and schedules a future `ScheduleTenantRateChange_v2`
        to revert the rate at the end of the prepay window. The bot is
        unaware of the SOAP chain — it just passes
        `pricing.total_due_at_movein` from the recommend response as
        `payment_amount` here. The orchestration runs inline on the happy
        path (~2-3s); failures land in `mw_lease_followup_jobs` for the
        worker to retry with exponential backoff.
      tags:
        - Move-In
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema: { type: string, maxLength: 120 }
          description: >
            Opaque caller-provided string (e.g. UUID v4). Replays of the same
            key on the same API key within 24h return the cached response.
            Strongly recommended for every booking attempt.
      requestBody:
        required: true
        content:
          application/json:
            example:
              site_code: "LSETUP"
              waiting_id: 852514
              tenant_id: 1112556
              unit_id: 106096
              payment_amount: 422.24
              start_date: "2026-05-15"
              end_date: "2027-05-15"
              pay_method: 2
              concession_id: 4666
              insurance_id: 9649
              session_id: "smoke-p2c-1730000000"
              customer_id: "smoke_p2c"
            schema:
              type: object
              properties:
                site_code:        { type: string }
                waiting_id:       { type: integer }
                tenant_id:        { type: integer }
                unit_id:          { type: integer }
                payment_amount:
                  type: number
                  description: >
                    Pass `pricing.total_due_at_movein` from the recommend
                    response. For perpetual + prepay plans this includes the
                    full prepayment up front.
                start_date:       { type: string, format: date }
                end_date:         { type: string, format: date }
                pay_method:       { type: integer, default: 2 }
                concession_id:    { type: integer, default: 0 }
                insurance_id:     { type: integer, default: 0 }
                session_id:
                  type: string
                  description: >
                    Recommend session id — recommended for outcome
                    reconciliation against `mw_recommendations_served`.
                customer_id:
                  type: string
                  description: >
                    PandaAI customer id — recommended for personalisation
                    + audit trail.
                test_mode:        { type: boolean, default: false }
      responses:
        "200":
          description: >
            Move-in result. `ledger_id` is the new ledger ID on success.
            `followups` summarises the perpetual-orchestration outcome.
          content:
            application/json:
              examples:
                standard:
                  summary: Standard plan (no perpetual orchestration)
                  value:
                    success: true
                    site_code: "L017"
                    unit_id: 107197
                    tenant_id: 1112556
                    waiting_id: 852514
                    ledger_id: 593680
                    lease_num: 1651
                    ret_code: "593680"
                    message: "Move-in completed"
                    test_mode: false
                    followups: { enqueued: 0, reason: "standard plan; ECRI schedule disabled or not applicable" }
                perpetual_prepay:
                  summary: Perpetual + 6-month prepay (orchestration ran inline)
                  value:
                    success: true
                    site_code: "LSETUP"
                    unit_id: 106096
                    tenant_id: 1112556
                    waiting_id: 852514
                    ledger_id: 593680
                    lease_num: 1651
                    ret_code: "593680"
                    message: "Move-in completed"
                    test_mode: false
                    followups:
                      enqueued: 2
                      job_ids: [2, 3]
                      inline_ok: 2
                      pending_retry: 0
                      failed_permanent: 0
                idempotent_replay:
                  summary: Replay of an earlier Idempotency-Key
                  value:
                    success: true
                    ledger_id: 593680
                    lease_num: 1651
                    message: "Move-in completed"
                    idempotent_replay: true
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # POST /api/reservations/move-in/direct
  # ---------------------------------------------------------------------------
  /api/reservations/move-in/direct:
    post:
      summary: Direct move-in with discount (MoveInWithDiscount_v7)
      operationId: moveInDirect
      description: >
        Direct move-in via `MoveInWithDiscount_v7`. No reservation required
        (set `waiting_id=0`). Includes billing frequency, source, and channel.

        **CC bypass**: Set `pay_method=2` (cash).

        **IMPORTANT**: `billing_frequency` is site-specific. For LSETUP, value 3
        is monthly. Values 1 and 2 are rejected with error -28.

        **SOAP operation**: `MoveInWithDiscount_v7`

        **Audit event**: `MOVE_IN_COMPLETED`

        **Rate limit**: 5 requests per 60 seconds per API key.

        **Required scope**: `reservations:write`
      tags:
        - Move-In
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            example:
              site_code: "LSETUP"
              tenant_id: 1111172
              unit_id: 106020
              payment_amount: 1161.02
              billing_frequency: 3
              start_date: "2026-04-10"
              pay_method: 2
              source_name: "ESA Backend"
              test_mode: true
      responses:
        "200":
          description: >
            Move-in result. `ledger_id` is the new ledger ID on success.
          content:
            application/json:
              example:
                success: true
                site_code: "LSETUP"
                unit_id: 106020
                tenant_id: 1111172
                ledger_id: 592447
                waiting_id: null
                ret_code: "592447"
                message: "Move-in completed"
                test_mode: true
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500InternalError"
        "502":
          $ref: "#/components/responses/502SoapError"

  # ---------------------------------------------------------------------------
  # GET /api/unit-availability/reservations
  # ---------------------------------------------------------------------------
  /api/unit-availability/reservations:
    get:
      summary: Get active reservation details for unit availability tool
      operationId: unitAvailabilityReservations
      description: >
        Returns active reservation details from `api_reservations` for units
        at the given sites. Only returns records with status `created` (active).
        Used by the unit availability tool to enrich reserved unit badges with
        tenant name, quoted rate, needed date, etc.

        **Note**: This endpoint is in the main `api` blueprint, not the
        `reservations` blueprint.

        **No SOAP call** — reads from `api_reservations` table.

        **Required scope**: `inventory:read`
      tags:
        - Unit Availability
      security:
        - BearerAuth: []
      parameters:
        - name: site_codes
          in: query
          required: true
          description: Comma-separated list of site codes (max 50).
          schema:
            type: string
          example: "LSETUP,L017"
      responses:
        "200":
          description: >
            Map of `site_code:unit_id` → reservation details for active reservations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitAvailabilityReservationsResponse"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "500":
          $ref: "#/components/responses/500InternalError"

tags:
  - name: SOAP Reservations
    description: >
      SOAP-backed reservation lifecycle management. All endpoints proxy to the
      SMD CallCenterWs SOAP service. The `site_code` parameter is validated
      against the `esa_pbi` database on every request.

      Required JWT scopes:
      - `reservations:read` — GET endpoints
      - `reservations:write` — POST/PUT endpoints
  - name: Reservation Tracking
    description: >
      Database-backed reservation tracking for distribution analytics. No SOAP
      calls — data goes directly to the `api_reservations` table in `esa_pbi`.
      Supports external data sources (Google Forms, chatbots, CRM imports).

      Required JWT scope: `reservations:track`
  - name: Move-In
    description: >
      SOAP-backed move-in operations. Includes cost retrieval (multiple variants)
      and move-in execution with credit card bypass via `pay_method=2` (cash).

      Required JWT scopes:
      - `reservations:read` — cost retrieval
      - `reservations:write` — move-in execution
  - name: Unit Availability
    description: >
      Endpoints supporting the unit availability tool. These read from the
      `api_reservations` tracking table to enrich the UI.

      Required JWT scope: `inventory:read`
